<nav class="nav-container">
    <h1 class="logo">ScrapYard</h1>
    <div class="nav-links-container">
        <a href="#" class="nav-link">Register</a>
        <a href="#" class="nav-link">Sign In</a>
    </div>
</nav>